@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

main{
  color: #30332E;
  background-color:#FFFBFC ;
}

